/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://astathkoeln.de/fonts/SAP-icons.woff2') format('woff2'),
    url('https://astathkoeln.de/fonts/SAP-icons.woff2/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
